@import "./normalize.css";
@import "./style.css";

h1 {
  margin: 0;
}
.hero {
  padding-top: 47px;
  display: flex;
  padding-bottom: 114px;
  background-image: url(../images/bg-pattern-about-2-contact-1.svg) , url(../images/bg-pattern-contact-2.svg);
  background-repeat: no-repeat;
  background-position: top 47px left -100px, bottom right -100px;
  .container {
    display: flex;
    justify-content: space-between;
  }
}
.contact__left {
}
.contact__title {
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 100px;
  margin-bottom: 16px;
}
.contact__title-about {
  color: #f67e7e;

  font-family: Livvic;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  margin-bottom: 32px;
}
.contact__list {
}
.contact__item {
  display: flex;
  align-items: center;
  gap: 23px;
}

.cantact__right {
  width: 540px;
  
}

.cantact__right__navigate {
   margin-left: 14px;
   opacity: 0.6; 
  color: #fff;

  font-family: Livvic;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px; /* 166.667% */
  letter-spacing: -0.115px;
  margin-bottom: 16px;
  margin-top: 24px;
  &:hover {
    opacity: 1;
  }
  &:first-child {
    margin-top: 0;
  }
 
 
}
.dis {
    margin-bottom: 58px;
  }

.contact__hr {
    opacity: 0.6;
}
.btn {
}
.contact__btn {
    color: #004047;

font-family: Livvic;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 28px;
background: #FFF;
border-radius: 24px;
border: 2px solid #FFF;
width: 123px;
height: 48px;
margin-top: 24px;
}

.form-container {
  width: 542px;
  height: 420px;
  
  
  box-sizing: border-box;
    
}


.contact__right__form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}


.contact__right__input , .contact__right__texarea {

  padding-bottom: 17px;
  padding-left: 12px; 
  border: none;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  color: white;
  font-size: 15px;
  line-height: 25px;
  outline: none;
}

.contact__right__input::placeholder,
.contact__right__texarea::placeholder {
  color: #fff; 
  opacity: 0.6;
  transition: color 0.3s ease;
}
.contact__right__input:hover::placeholder,
.contact__right__texarea:hover::placeholder {
  color: #fff;
  opacity: 1;
  transition: 0.3s ease;
}
textarea {
  resize: none;
}

button {
  width: 123px;
  background-color: #FFF;
}

button:hover {
  background-color: #ddd;
}